*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins',sans-serif;
}
body{
	background: linear-gradient(to bottom, #ffffff 0%, #ccccff 100%)
}
header{background-color: #29487d;}
.container{max-width: 1100px;margin: 0 auto;overflow: hidden;}
.nav-bar{overflow: hidden;color: #ffffff;}
.logo{float: left;display: inline-block;}
.logo h2{font-size: 40px;padding: 10px;color: #ffffff;/*! font-weight: bold; */}
.login-form{float: right;/*! display: inline; */list-style: none;width: 50%;}
.login-form li{display: block;float: left;}
.login-form li span{display: block;padding: 5px 0;font-size: 13px;}
.input-nav{width: 180px;padding: 3px;/*! margin: 5px 5px 5px; */margin-right: 10px;border-radius: 2px;border: 1px solid;}
.login{display: block;padding: 3px 10px;margin: 30px 0;border-radius: 5px;background: #4267b2;border: 1px solid black;color: #ffffff;}
.forgotten{display: block;color: #9cb4d8;padding: 5px 0;text-decoration: none;font-size: 12px;}
section{min-height: 100vh;}
.col-6{width: 50%;float: left;}
.img-label{padding: 40px 0;max-width: 475px;}
.image{}
.sign-up-form{padding: 40px 30px;box-sizing: border-box;}
.sign-up-form ul{list-style: none;}
.sign-up-form ul li{margin: 15px 0;}
.sign-up-form ul li h1{font-size: 40px;}
.sign-up-form ul li h3{font-size: 25px;}
.name-input{width: 43%;padding: 10px;border-radius: 5px;border: 1px solid #bdc7d8;margin-right: 10px;}
.input-box{min-width: 98%;padding: 10px;border-radius: 5px;border: 1px solid #bdc7d8;box-sizing: border-box;}
.sign-up-form ul li label{display: block;}
.select-box{width: 20%;padding: 5px;border-radius: 5px;border: 1px solid #bdc7d8;}
.radio-span{}
.radio-span span{margin-right: 20px;font-size: 20px;}
.radio{margin-right: 5px;}
.policy-p{font-size: 12px;}
.policy-link{color: #365899;text-decoration: none;}
.sign-up{padding: 10px 70px;background: linear-gradient(#67ae55, #578843);border-color: black;border-radius: 5px;color: #ffffff;font-size: 20px;font-weight: 800;}
.page{}
.create-page{}

